body {
  margin: 0;
  padding: 0;
}
.main-bg {
  background-color: #F8F8F8;
}
.container {
  width: 79rem;
  margin: 0 auto;
}
.product {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}